<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HighIronRanch.Azure.ServiceBus" version="1.0.1.8" targetFramework="net45" />
  <package id="HighIronRanch.Azure.ServiceBus.Contracts" version="1.0.1.1" targetFramework="net45" />
  <package id="HighIronRanch.Core" version="1.0.7.2" targetFramework="net45" />
  <package id="HighIronRanch.SimpleCqrs" version="1.0.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.0.1" targetFramework="net45" />
</packages>